body{
    background-color: black;
    height: 100%;
  }

  html {
    height: 100%;
}
  
  #container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 100%;
  }

  #menuContainer {
    width:25%;
    height:20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    z-index:1;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 30%
  }
  
  .button{
    margin: 1px;
    height: auto;
  }
  
  .button:hover {
    cursor: pointer;
  }

  .menuButton{
      width:fit-content(center);
      height:fit-content(center);
      margin: 20px;
      height: auto;
      font-size: 40px;
      text-align:center;
      font-weight: bold;
      font-family: sans-serif;
  }

  .menuButton:hover {
    cursor: pointer;
    /*display test that says "RESET?"*/
  }
  
  #green {
    background-color: #2bff00;
    float: left;
  }
  
  #red {
    background-color: #ff1100;
    display: inline-block;
  }
  
  #yellow {
    background-color: yellow;
    clear: left;
    float: left;
  }
  
  #blue {
    background-color: blue;
    float: left;
  }

  #white {
    background-color: #ffffff;
    float: left;
  }
  
  #green:active {
    background-color: lightgreen;
  }
  
  #red:active {
    background-color: pink;
  }
  
  #yellow:active {
    background-color: lightyellow;
  }
  
  #blue:active {
    background-color: lightblue;
  }
  
  
  #mode:hover {
    cursor: pointer;
  }
  
  #start:hover {
    cursor: pointer;
  }
  
  #menu{
    width: 370px;
    height: 50px;
    margin: 0 auto;
    margin-top: 5px;
  }
  
  .box {
    margin: 0 auto;
    width: 120px;
    border: 1px solid white;
    text-align: center;
    color: white;
    margin-top: 5px;
    float: left; 
  }
  
  
  .box:active{
    background-color: white;
    color: black;  
  }
  

  